---
---

@import "{{ site.theme }}";

.caps {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.page-header {
  color: #fff;
  text-align: center;
  background: #5C94CE linear-gradient(120deg, rgb(92, 148, 206), rgb(102, 83, 163), rgb(30, 167, 120));
}

h1 {
  text-transform: uppercase;
}

.project-tagline {
  text-transform: uppercase;
  color: #fff;
}
